[project]
	description = Code for car interface for Raspberry Pi 2 based on OpenELEC.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Casida
[access "refs/for/refs/*"]
	read = group user/Casida
	push = group user/Casida
	label-Code-Review = -2..+2 group user/Casida
	label-Verified = -1..+1 group user/Casida
	rebase = group user/Casida
	removeReviewer = group user/Casida
	submit = group user/Casida
[access "refs/heads/*"]
	read = group user/Casida
	create = group user/Casida
	push = +force group user/Casida
	pushMerge = group user/Casida
[access "refs/tags/*"]
	push = +force group user/Casida
	pushTag = group user/Casida
	pushSignedTag = group user/Casida
